
body {
   
	margin: auto auto auto 10px; 
  }
th, td {
    padding: 10px;
    
  }
  img {
    border-radius: 50%;
  }
  h1 ,p{
    text-align: center;
  }
  .contact {
    color: white;
    margin: 20px;
    padding: 20px;
    width: 200px;
  }
  form { 
    margin: 0auto; 
    
    }
  input[type=text],[type=email]{
    width: 50%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 input[type=submit]:hover {
    background-color: #cfc8f1;
  }
  textarea {
    width: 50%;
}
