<div class="container-fluid">
    <h1><%= title %></h1>
</div>

<br>
<div  margin-left:auto; margin-right:auto >

<a href="./images/Resume.pdf" download>Download Resume</a> <br><br>

<img class="logoimg" src="./images/about.jpg" alt =" picture" style="float:right; margin-bottom:6px; margin-right:10px">
<br>
<p>Hello,</p>
<p>My name is Revathy Jalaja Kumari.</p>
<br>
<p>I am originally from India. I am a Computer Science and Engineering graduate. </p>

<p>I am doing <b>Software Engineering Technician</b> program at Centennial College.</p>
<p>I completed my Bachelor's degree in Computer Science and Engineering from NI College of Engineering in India. </p>
<p> I have 4 years of work experience in computer programming. We came back to Canada in 2016, this time we were in Calgary. 
 <p>In Calgary I joined CIWA and worked as Employment Counsellor.</p>
<p>In 2019 I joined Centennial College advanced diploma course. </p>
<p>I got a CO-OP opportunity in MCCSS in 2022 and currently continuing to work there. 
</p>
<br>			
<br>
<br>
				
<p>


</p>
</div>