<div class="container-fluid">
    <h1><%= title %></h1>
</div>

<br>
<div  margin-left:auto; margin-right:auto >

<a href="./images/Resume.pdf" download>Download Resume</a> <br><br>

<img src="./images/about.jpg" alt =" picture" style="float:right; margin-bottom:6px; margin-right:10px">
<p>Hello,</p>
<p>My name is Revathy Jalaja Kumari.</p>
<p></p>
<p>Currently I am doing <b>Software Engineering Technician</b> program at Centennial College.</p>
<p>I completed my Bachelor's degree in Computer Science and Engineering from NI College of Engineering in India. </p>
<p>I started my Job at Nokia Siemens Networks, India (Nokia Networks).  I worked there for almost 2 years.</p>
<p>After a break I joined Finance Department of Government of Kerala as Application Developer.</p>

				

				
<p>


</p>
</div>