<div class="container-fluid">
    <h1><%= title %></h1>
</div>

<main>
   
    <form method="post" action="mailto:rjalajak@my.centennailcollege.ca">
        <table style="width: 100%">
            <tr>
                <td>First Name : </td>
                <td><input name="txtFirstName" tabindex="1" type="text"></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input name="txtLastName" tabindex="3" type="text"></td>
            </tr>
            <tr>
                <td>Email :</td>
                <td><input name="txtEmail" tabindex="5" type="email" required="required"></td>
            </tr>
            <tr>
                <td>Mobile :</td>
                <td><input name="txtMobile" tabindex="7" type="text"></td>
            </tr>
            
            <tr>
                <td>Comments</td>
                <td><textarea cols="50" name="txtComments" rows="7" tabindex="15"></textarea></td>
            </tr>
            <tr>
                <td class="fieldLabel ">
                <input name="btnSubmit" type="submit" value="Submit Inquiry" tabindex="17"></td>
                <td>
                <input name="btnReset" tabindex="19" type="reset" value="Clear Form"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        
    
    
    
    
    </form>
        
    </main>
