<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1> Contact Me</h1>

<div >
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Toronto, CA</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: rjalajak@my.centennailcollege.ca</p>
  </div>

<main>
   
    <form method="post" action="/home">
        <table class="contact" style="width: 100%" >
            <tr>
                <td><input name="txtFirstName" placeholder="Name" tabindex="1" type="text" ></td>
            </tr>
            <tr>
                
                <td><input name="txtEmail" placeholder="Email" tabindex="5" type="email" required="required"></td>
            </tr>
            <tr>
                
                <td><input name="txtMobile" placeholder="Contact Number" tabindex="7" type="text"></td>
            </tr>
            
            <tr>
                <td><textarea name="txtComments" placeholder="Message" rows="7" tabindex="15"></textarea></td>
            </tr>
            <tr>
                <td class="fieldLabel ">
                <input name="btnSubmit" type="submit" value="Send Message" tabindex="17"></td>
                
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
           
    </form>
        
    </main>
