<div class="container-fluid">
   <!-- <h1><%= title %></h1>-->
</div>

<header style="padding:128px 250px" id="home">
    <img src="./images/logo.jpg" style="display:block;width:20%;margin:auto;">
    <h1 ><b>Revathy Jalaja Kumari</b></h1>
    <p>Programmer Analyst</p>
    
    <div>
        <a href="/about">
            <button class="btn btn-large text-right">Explore --></button>
        </a>
    </div>
  </header>