<div class="container-fluid">
   <!-- <h1><%= title %></h1>-->
</div>

<header style="padding:80px 250px" id="home">
    <img class="logoimg" src="./images/logo.jpg"  style="display:block;width:20%;margin:auto;">
    <h1 ><b>Revathy Jalaja Kumari</b></h1>
    <p>Programmer Analyst</p>

    <div class="homealign">
        <blockquote>
		<i>If you can dream it, you can do it.</i>
        </blockquote>
</div>
    
    <div>
        <a href="/about">
            <button class="btn btn-large right">About Me</button>
        </a>
    </div>
  </header>