<div class="container-fluid">
    <h1><%= title %></h1>
</div>

<div>
    <tr>
            <h4>Application developer</h4>
            <img id="img_listing" height="200" src="./images/kerala.jpg" width="300" class="auto-style1">
            <h6><i>Government of Kerala, India</i></h6>
            <ul>
                    <li>Developed and maintained online pensioners web portal using Java, HTML, CSS, jQuery and JavaScript </li>
            <li>Automated the Confidential Report (CR) for the employees of Finance department which significantly reduced the manual work by developing web application and back end database  </li>
            <li>Improved retrieval of data by designing and maintaining MySQL database </li>
            <li>Ensured portal is available for use by deploying web application .war file in Tomcat server and JBOSS Server</li>
            <li>Gathered and documented application business requirements and use case scenarios by attending the client/user meetings</li>
            <li>Improved employees knowledge Pensioners Portal by preparing user training documentation </li>
            <li>Conducted User FAQ section for newly developed Pensioners Portal</li>			
            </ul>
    </tr>
    
    <tr>
            <h4>Fault Management Engineer</h4>
            <img id="img_listing" height="200" src="./images/nsn.jpg" width="300" class="auto-style1">
            <h6><i>Nokia Siemens Network, Chennai , India</i></h6>
            <ul>
                    <li>Minimized the data retrieval time by migrating reports from VBA Macros to web-based reports</li>
            <li>Reduced time spent on retrieving data by developing and updating shell scripts as required </li>
            <li>Ensured the scripts run by setting up jobs in crontab as per schedules supplied by the business </li>
                    <li>Initiated reports job by preparing Excel Reports and emailed them to the customers on a daily basis </li>
                    <li>Assisted customer requests for generating customized reports (Fault Management Reports) </li>
                    <li>Improved customer satisfaction by creating Excel Macros to automate customized report generation process that reduced the turnaround time by 70%  </li>
                    <li>Prepared Summarized report for the management by querying and designing reports on SQL Server Reporting services </li>
                    <li>Spearheaded the system troubleshooting by responding to the end users questions and concerns by phone and email </li>
                        
            </ul>
    </tr>
    
    
    <tr>
            <h4>Employment Counsellor</h4>
            <img id="img_listing" height="200" src="./images/ciwa.png" width="300" class="auto-style1">
            <h6><i>Calgary Immigrant Women's Association , Alberta</i></h6>
            <ul >
                    <li>Improved Immigrant Womens knowledge of various employment opportunities in Canada by providing individual employment counselling daily </li>
                    <li>Increased clients chances in landing employment opportunities either in their field or general entry level positions by assisting clients with their job search and employment needs</li>
                    <li>Assisted clients in the development and implementation of career action plan and monitored clients action plan by performing constant follow ups </li>
                    <li>Dispersed employment information by conducting client follow-up and providing internal and external referrals </li>
                    <li>Ensured efficient data storage and retrieval by performing data entry of client information in Case Management Systems (CMS) and iCARE databases </li>
                    <li>Improved clients knowledge of the Canadian Workplace Culture, Interviewing Skills and use of LinkedIn as a job search tool by facilitating in such employment workshop </li>		
                    <li>Eased workload from my team members by filling in to cover workshops, meetings or individual employment counselling</li><br>
        </ul>
    </tr>
    
    <tr></tr>
    <br><br>
    
    
    </div>
    </div>
    