<div class="container-fluid">
    <h1><%= title %></h1>
</div>

<div class="servicepage">

    <h3>Software Development</h3><br>
<img src="./images/sw_dev.png" alt =" " width ="700px" height="500">
    <h3>Java Programming</h3><br>
<img src="./images/java.jpg" alt =" " width ="700px" height="500">
    <h3>Website Design and Development</h3><br>
<img src="./images/web.png" alt =" " width ="700px" height="500">



   

</div>